@font-face {
    font-family: "c71a965789473431d752bbc67332cdf6";
    src: url("c71a965789473431d752bbc67332cdf6.eot"); /* IE9 */
    src: url("c71a965789473431d752bbc67332cdf6.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("c71a965789473431d752bbc67332cdf6.woff2") format("woff2"), /* chrome 36+, firefox 39+,iOS 10+, Android 67+ */
    url("c71a965789473431d752bbc67332cdf6.woff") format("woff"), /* chrome, firefox */
    url("c71a965789473431d752bbc67332cdf6.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("c71a965789473431d752bbc67332cdf6.svg#c71a965789473431d752bbc67332cdf6") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


